apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: true
    uid: tempo
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: prometheus
      search:
        hide: false
      tracesToLogs:
        datasourceUid: loki
        filterBySpanID: false
        filterByTraceID: false
        tags: ['job', 'instance', 'pod', 'namespace']
      tracesToMetrics:
        datasourceUid: prometheus
        tags: ['job', 'instance', 'pod', 'namespace']
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: loki
